At the end of 2019, the world saw the born of the Sars-cov-2 virus which genereate a disease called COVID19 (COrona VIrus disease). The high risk that we face with this virus is that the sympthons are related to a typical flu but generate a high damage un the lungs decreasing the oxygen level. The disminution of oxygen generate a high demand of intensive beds.

From WHO files

According to the WHO the incubation period for COVID-19, is on average 5-6 days, but can be extended to 14 days. However there some evidence that shows that exist different types of transmition, such as symptomatic, pre-symptomatic and a symptomatic.

The typical transmition is the symptomatic, this ocurrs when a person shown COVID symptomatic and can spread the virus conciently or inconciently respiratory droplest over thier enviroment. However, some cases has shown that a person can transmit COVID-19 without symptoms, (3 or 2 days) before present the typical symptoms. Finally there are some concern about the asyptomatic transmission according to the WHO: Asymptomatic transmission refers to transmission of the virus from a person, who does not develop symptoms. There are few reports of laboratory-confirmed cases who are truly asymptomatic, and to date, there has been no documente asymptomatic transmission. This does not exclude the possibility that it may occur. Asymptomatic cases have been reported as part of contact tracing efforts in some countries. Source https://www.who.int/docs/default-source/coronaviruse/situation-reports/20200402-sitrep-73-covid-19.pdf?sfvrsn=5ae25bc7_2#:~:text=An%20asymptomatic%20laboratory%2Dconfirmed,more%20information%20becomes%20available.


The goal of this notebook is listed below:
* Understand the evolution of the covi19 in Mexico, there are a rate of 10% of deads though a visualization analysis


Key elements

* Incubation period can be expresed a GAMMA.
* Is most common the transmision after show symptoms.
* How we can modeled (explain pre-symtomatic transmition)
* how we can modeled asyntomatic transmition

In [51]:
import glob
import os
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
%matplotlib

Using matplotlib backend: MacOSX

In [52]:

strpath = '../src/'
m = []
i =0
if not os.path.isfile('report_data1.csv'):
    for filename in glob.glob(strpath+"*"):
        if filename.find('.csv')>0:
            print(filename)
            date = '20'+filename[7:9] +'-' + filename[11:13] +'-' +filename[13:15]
            df = pd.read_csv(filename, encoding = "ISO-8859-1",dtype =str)
            df['FechaRegistro'] = date
            df.FECHA_INGRESO = pd.to_datetime(df['FECHA_INGRESO'],)
            if i== 0:
                df0=df.copy()
                i=1
            else:
                frame = [df0,df]
                df0 = pd.concat(frame)
            print(len(df0))
            del df
else:
    df0 = pd.read_csv('report_data.csv')
len(df0)

../src/20200604.csv
314063
../src/20200610.csv
683425
../src/20200412.csv
720019
../src/20200413.csv
758689
../src/20200611.csv
1139828
../src/20200605.csv
1464725
../src/20200613.csv
1866480
../src/20200607.csv
2202875
../src/20200606.csv
2535201
../src/20200612.csv
2928915
../src/20200616.csv
3357478
../src/20200602.csv
3650556
../src/20200414.csv
3692149
../src/20200428.csv
3769154
../src/20200429.csv
3851066
../src/20200415.csv
3895502
../src/20200603.csv
4198963
../src/20200617.csv
4640633
../src/20200601.csv
4922722
../src/20200615.csv
5337819
../src/20200629.csv
5904421
../src/20200417.csv
5952786
../src/20200416.csv
6000021
../src/20200628.csv
6556219
../src/20200614.csv
6962768
../src/20200511.csv
7097884
../src/20200505.csv
7203548
../src/20200504.csv
7303589
../src/20200510.csv
7434545
../src/20200506.csv
7545539
../src/20200512.csv
7687743
../src/20200513.csv
7836240
../src/20200507.csv
7953451
../src/20200503.csv
8049290
../src/20200517.csv
8221584
../src/20200516.csv
8390681
../src/20200502.csv
8484472
../src/20200514.csv
8640404
../src/20200528.csv
8895198
../src/20200529.csv
9159224
../src/20200501.csv
9250412
../src/20200515.csv
9414103
../src/20200518.csv
9591236
../src/20200530.csv
9862228
../src/20200524.csv
10081392
../src/20200525.csv
10307042
../src/20200531.csv
10582039
../src/20200519.csv
10767814
../src/20200527.csv
11012672
../src/20200526.csv
11247801
../src/20200522.csv
11457871
../src/20200523.csv
11673527
../src/20200521.csv
11875365
../src/20200509.csv
12003513
../src/20200508.csv
12126959
../src/20200619.csv
12592826
../src/20200625.csv
13121477
../src/20200427.csv
13192580
../src/20200426.csv
13260215
../src/20200624.csv
13775873
../src/20200618.csv
14229354
../src/20200626.csv
14771474
../src/20200418.csv
14820641
../src/20200430.csv
14908013
../src/20200424.csv
14970347
../src/20200425.csv
15035847
../src/20200419.csv
15085417
../src/20200627.csv
15636469
../src/20200623.csv
16138340
../src/20200421.csv
16189974
../src/20200420.csv
16240889
../src/20200622.csv
16729439
../src/20200620.csv
17203391
../src/20200608.csv
17547766
../src/20200422.csv
17603460
../src/20200423.csv
17662345
../src/20200609.csv
18019400
../src/20200621.csv
18498928

18498928

In [53]:
df0

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI,FechaRegistro
0,2020-06-04,1632b6,2,4,14,2,15,14,120,1,...,2,2,2,99,1,99,MÃ©xico,99,97,2020-06-04
1,2020-06-04,022691,2,4,09,2,09,09,015,2,...,1,2,2,99,1,99,MÃ©xico,99,2,2020-06-04
2,2020-06-04,10413d,2,4,15,1,15,15,091,2,...,2,2,2,99,1,99,MÃ©xico,99,2,2020-06-04
3,2020-06-04,0c15eb,2,4,11,2,15,11,020,1,...,2,2,2,99,1,99,MÃ©xico,99,97,2020-06-04
4,2020-06-04,12944a,2,4,15,2,15,15,060,1,...,2,1,2,99,1,99,MÃ©xico,99,97,2020-06-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479523,2020-06-21,115d9c,1,12,19,1,19,19,044,1,...,2,2,2,2,3,99,MÃ©xico,99,97,2020-06-21
479524,2020-06-21,182592,1,6,26,1,26,26,030,1,...,2,2,2,1,3,99,MÃ©xico,99,97,2020-06-21
479525,2020-06-21,0f9525,2,4,21,2,21,21,114,2,...,2,2,2,99,3,99,MÃ©xico,99,2,2020-06-21
479526,2020-06-21,17764c,2,6,23,2,23,23,001,2,...,2,2,2,2,3,99,MÃ©xico,99,2,2020-06-21
479527,2020-06-21,0d18fe,2,12,16,2,16,16,102,1,...,2,2,2,2,3,99,MÃ©xico,99,97,2020-06-21

In [ ]:
df0.to_csv('merge.csv',index=False)

In [55]:
df0.ID_REGISTRO.nunique()

590774

In [91]:
df= pd.read_csv( '../src/20200629.csv', encoding = "ISO-8859-1",dtype =str)
dfA= pd.read_csv('../src/20200628.csv', encoding = "ISO-8859-1",dtype =str)
dfB= pd.read_csv('../src/20200412.csv', encoding = "ISO-8859-1",dtype =str)

In [92]:
len(dfB)

36594

In [93]:
dfB.head()

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2020-04-19,09e8dc,2,9,15,1,15,15,037,2,...,2,2,2,2,2,1,99,99,97,1
1,2020-04-19,0efbaf,2,9,28,2,16,28,032,1,...,2,2,2,2,1,1,99,99,97,97
2,2020-04-19,091a48,1,12,15,2,15,15,031,2,...,2,2,2,2,2,2,99,99,97,2
3,2020-04-19,13236c,1,4,02,2,21,02,004,2,...,2,1,2,2,99,2,99,MÃ©xico,97,2
4,2020-04-19,0cdb12,1,12,09,2,99,09,012,2,...,2,2,2,2,2,1,99,MÃ©xico,97,2

In [57]:
df.ID_REGISTRO.nunique()

566602

In [59]:
a = set(df0.ID_REGISTRO.unique().tolist())- set(df.ID_REGISTRO.unique().tolist())

In [60]:
type(a)

set

In [72]:
df1 = df0[df0.ID_REGISTRO.isin(list(a))]
df1 = df1.copy()

In [73]:
df1.FechaRegistro = pd.to_datetime(df1['FechaRegistro'], format='%Y-%m-%d')
df1 = df1.sort_values(by='FechaRegistro', ascending=False)

In [74]:
df1.ID_REGISTRO.nunique()

24172

In [75]:
df1[df1.FechaRegistro=='2020-06-28']

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI,FechaRegistro
30017,2020-06-28,1a7aea,1,4,22,2,22,22,014,1,...,2,2,2,99,1,99,MÃ©xico,99,97,2020-06-28
537746,2020-06-28,03068c,2,12,09,2,21,09,007,1,...,2,2,2,1,3,99,MÃ©xico,99,97,2020-06-28
534293,2020-06-28,160589,2,12,08,1,08,08,019,1,...,2,2,2,1,3,99,MÃ©xico,99,97,2020-06-28
534319,2020-06-28,0bbc3e,2,4,11,2,11,11,020,1,...,2,2,2,99,3,99,MÃ©xico,99,97,2020-06-28
535924,2020-06-28,0ba09d,1,4,11,2,11,11,020,1,...,2,2,2,99,3,99,MÃ©xico,99,97,2020-06-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507950,2020-06-28,04ec0f,1,12,23,2,12,23,005,1,...,2,2,2,2,3,99,MÃ©xico,99,97,2020-06-28
508500,2020-06-28,0fa76a,1,12,14,2,14,14,025,1,...,2,2,2,2,3,99,MÃ©xico,99,97,2020-06-28
509583,2020-06-28,1c12b6,1,99,20,1,09,20,086,2,...,1,2,2,99,3,99,MÃ©xico,99,2,2020-06-28
510031,2020-06-28,0b9867,2,12,01,2,01,01,007,1,...,2,2,2,1,3,99,MÃ©xico,99,97,2020-06-28
510469,2020-06-28,035321,1,12,20,2,20,20,039,2,...,2,2,2,1,3,99,MÃ©xico,99,2,2020-06-28

In [65]:
len(df)

566602

In [66]:
df[df.ID_REGISTRO=='1a7aea']

Empty DataFrame
Columns: [FECHA_ACTUALIZACION, ID_REGISTRO, ORIGEN, SECTOR, ENTIDAD_UM, SEXO, ENTIDAD_NAC, ENTIDAD_RES, MUNICIPIO_RES, TIPO_PACIENTE, FECHA_INGRESO, FECHA_SINTOMAS, FECHA_DEF, INTUBADO, NEUMONIA, EDAD, NACIONALIDAD, EMBARAZO, HABLA_LENGUA_INDIG, DIABETES, EPOC, ASMA, INMUSUPR, HIPERTENSION, OTRA_COM, CARDIOVASCULAR, OBESIDAD, RENAL_CRONICA, TABAQUISMO, OTRO_CASO, RESULTADO, MIGRANTE, PAIS_NACIONALIDAD, PAIS_ORIGEN, UCI]
Index: []

[0 rows x 35 columns]

In [67]:
dfA[dfA.ID_REGISTRO=='1a7aea']

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
30017,2020-06-28,1a7aea,1,4,22,2,22,22,014,1,...,2,2,2,2,99,1,99,MÃ©xico,99,97

In [85]:
df2 = df1.drop_duplicates(keep='last')
df2 = df2.drop_duplicates('ID_REGISTRO',keep='last')

In [100]:
df2.groupby(['FechaRegistro'])['FechaRegistro'].count().plot()

In [ ]:
df2.groupby(['FechaRegistro','RESULTADO'])['FechaRegistro','RESULTADO'].count().plot()

In [87]:
df1

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI,FechaRegistro
30017,2020-06-28,1a7aea,1,4,22,2,22,22,014,1,...,2,2,2,99,1,99,MÃ©xico,99,97,2020-06-28
537746,2020-06-28,03068c,2,12,09,2,21,09,007,1,...,2,2,2,1,3,99,MÃ©xico,99,97,2020-06-28
534293,2020-06-28,160589,2,12,08,1,08,08,019,1,...,2,2,2,1,3,99,MÃ©xico,99,97,2020-06-28
534319,2020-06-28,0bbc3e,2,4,11,2,11,11,020,1,...,2,2,2,99,3,99,MÃ©xico,99,97,2020-06-28
535924,2020-06-28,0ba09d,1,4,11,2,11,11,020,1,...,2,2,2,99,3,99,MÃ©xico,99,97,2020-06-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12273,2020-04-19,0a5423,1,4,19,1,19,19,006,1,...,2,2,2,99,2,99,MÃ©xico,97,97,2020-04-12
12259,2020-04-19,04740a,2,12,05,2,05,05,018,1,...,2,2,2,2,3,99,MÃ©xico,97,97,2020-04-12
12255,2020-04-19,0589d3,1,12,19,1,19,19,039,1,...,1,2,2,2,3,99,99,97,97,2020-04-12
12250,2020-04-19,0f5f4b,2,12,15,2,15,15,039,2,...,2,2,2,2,3,99,99,97,2,2020-04-12
36478,2020-04-19,071e9c,2,10,09,1,99,09,016,1,...,2,2,2,1,3,99,MÃ©xico,97,97,2020-04-12

In [78]:
df2.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'DIABETES',
       'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'RESULTADO', 'MIGRANTE', 'PAIS_NACIONALIDAD',
       'PAIS_ORIGEN', 'UCI', 'FechaRegistro'],
      dtype='object')

In [94]:
df3 = df1.drop_duplicates(keep='first')
df3 = df3.drop_duplicates('ID_REGISTRO',keep='first')

In [95]:
df3.groupby('RESULTADO')['RESULTADO'].count()

RESULTADO
1     2013
2     4030
3    18129
Name: RESULTADO, dtype: int64