# Daily Report

We replicate the numbers of cases published in the daily meeting,

In [1]:
import glob
import os
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import datetime
import json
from tools import to_datetime_df, summary, apply_to_report, get_deltas_proportion
from constants import COLUMNS_REPORT
from datetime import datetime

from IPython.display import Markdown as md

%matplotlib

Using matplotlib backend: MacOSX

In [2]:

strpath = '../src/'
m = []
tlalpan = []
gam = []
leon = []
qro = []
huix = []

for filename in glob.glob(strpath+"*"):
    if filename.find('.csv')>0:
        date = filename[7:9] +'-' + filename[11:13] +'-' +filename[13:15]
        file_date = datetime.strptime(date, '%y-%m-%d')
        # for the report we only require the last 7 days
        if (datetime.now()-file_date).days < 8: 
            print (filename)
            df = pd.read_csv(filename, encoding = "ISO-8859-1", dtype = str)
            
            # convert to datetime 
            to_datetime_df(df)

            # apply dictionary to specific fields
            apply_to_report(df)
            
            # 
            df['FECHA_ACTUALIZACION1'] = pd.to_datetime(df['FECHA_ACTUALIZACION'],)
            df['deltaSintomas'] = df.FECHA_ACTUALIZACION1 - df.FECHA_SINTOMAS 
            df['deltaSintomas'] = df.deltaSintomas.dt.days

            m.append(
                summary(df)
            )
            tlalpan.append(
                summary(df[(df.MUNICIPIO_RES == 'TLALPAN') & (df.ENTIDAD_RES == 'CIUDAD DE MÉXICO')])
            )
            gam.append(
                summary(df[(df.MUNICIPIO_RES == 'GUSTAVO A. MADERO') & (df.ENTIDAD_RES == 'CIUDAD DE MÉXICO')])
            )
            leon.append(
                summary(df[(df.MUNICIPIO_RES=='LEON') & (df.ENTIDAD_RES=='GUANAJUATO')])
            )
            qro.append(
                summary(df[(df.MUNICIPIO_RES=='QUERETARO') & (df.ENTIDAD_RES=='QUERÉTARO') ])
            )
            huix.append(
                summary(df[(df.MUNICIPIO_RES=='HUIXQUILUCAN') & (df.ENTIDAD_RES=='MÉXICO') ])
            )

df = pd.DataFrame(m)
dftlalpan = pd.DataFrame(tlalpan)
dfgam = pd.DataFrame(gam)
dfleon = pd.DataFrame(leon)
dfqro = pd.DataFrame(qro)
dfhuix = pd.DataFrame(huix)

dftlalpan.columns = COLUMNS_REPORT
dfgam.columns = COLUMNS_REPORT
dfleon.columns = COLUMNS_REPORT
dfqro.columns = COLUMNS_REPORT
dfhuix.columns = COLUMNS_REPORT
df.columns = COLUMNS_REPORT

dftlalpan = dftlalpan.sort_values(by='date', ascending=False)
dfgam  = dfgam.sort_values(by='date', ascending=False)
dfleon = dfleon.sort_values(by='date', ascending=False)
dfqro  = dfqro.sort_values(by='date', ascending=False)
dfhuix = dfhuix.sort_values(by='date', ascending=False)
df     = df.sort_values(by='date', ascending=False)
# df.to_csv('report_data.csv', index=False)

dftlalpan = dftlalpan.reset_index(drop=True)
dfgam = dfgam.reset_index(drop=True)
dfleon = dfleon.reset_index(drop=True)
dfqro = dfqro.reset_index(drop=True)
dfhuix = dfhuix.reset_index(drop=True)
df = df.reset_index(drop=True)

../src/20200802.csv
../src/20200803.csv
../src/20200801.csv
../src/20200804.csv
../src/20200805.csv
../src/20200807.csv
../src/20200806.csv

In [3]:
get_deltas_proportion(df)
get_deltas_proportion(dftlalpan)
get_deltas_proportion(dfgam)
get_deltas_proportion(dfleon)
get_deltas_proportion(dfqro)
get_deltas_proportion(dfhuix)

In [4]:
print("Querétaro,Querétaro")
dfqro[COLUMNS_REPORT].head(7)

Querétaro,Querétaro

,date,activos,positivos,muertes,sospechosos,muestra,activos sospechosos,defunciones sospechosos,muertos negativos
0,2020-08-07,291,2846,322,156,5479,95,0,95
1,2020-08-06,260,2739,316,186,5376,103,0,94
2,2020-08-05,251,2704,311,173,5295,102,0,91
3,2020-08-04,220,2648,308,170,5209,124,0,91
4,2020-08-03,214,2578,304,137,5093,77,0,91
5,2020-08-02,242,2559,297,146,5064,91,0,90
6,2020-08-01,252,2540,293,129,5014,76,0,90

In [5]:
print("León,Guanajuato")
dfleon[COLUMNS_REPORT].head(7)

León,Guanajuato

,date,activos,positivos,muertes,sospechosos,muestra,activos sospechosos,defunciones sospechosos,muertos negativos
0,2020-08-07,850,10079,587,831,24438,421,11,113
1,2020-08-06,840,9928,573,1008,24257,573,11,113
2,2020-08-05,876,9825,562,945,24065,489,12,109
3,2020-08-04,863,9648,553,919,23778,471,18,106
4,2020-08-03,906,9543,525,775,23501,301,11,105
5,2020-08-02,1043,9464,524,840,23448,376,12,105
6,2020-08-01,1115,9324,521,894,23242,402,15,105

In [6]:
print("Huixquilucan, Edo. de México")
dfhuix[COLUMNS_REPORT].head(7)

Huixquilucan, Edo. de México

,date,activos,positivos,muertes,sospechosos,muestra,activos sospechosos,defunciones sospechosos,muertos negativos
0,2020-08-07,43,1013,78,434,2936,153,11,22
1,2020-08-06,47,1005,76,438,2918,169,11,22
2,2020-08-05,46,997,76,417,2882,155,11,22
3,2020-08-04,50,987,76,358,2810,100,11,22
4,2020-08-03,45,967,73,372,2783,107,11,22
5,2020-08-02,58,967,72,364,2769,118,11,22
6,2020-08-01,64,964,72,354,2749,111,11,22

In [7]:
print("TLALPAN, CDMX")
dftlalpan[COLUMNS_REPORT].head(7)

TLALPAN, CDMX

,date,activos,positivos,muertes,sospechosos,muestra,activos sospechosos,defunciones sospechosos,muertos negativos
0,2020-08-07,328,6386,386,1141,17412,711,28,112
1,2020-08-06,314,6275,384,1141,17139,696,29,110
2,2020-08-05,335,6224,378,1045,16862,592,27,108
3,2020-08-04,356,6178,376,920,16590,473,28,106
4,2020-08-03,357,6099,371,953,16367,490,27,107
5,2020-08-02,468,6082,368,943,16308,515,26,106
6,2020-08-01,449,6013,368,1076,16185,623,26,104

In [8]:
print("GAM, CDMX")
dfgam[COLUMNS_REPORT].head(7)

GAM, CDMX

,date,activos,positivos,muertes,sospechosos,muestra,activos sospechosos,defunciones sospechosos,muertos negativos
0,2020-08-07,472,9619,1336,1788,23863,900,136,332
1,2020-08-06,369,9439,1320,1925,23561,1017,137,331
2,2020-08-05,366,9365,1310,1778,23242,898,135,329
3,2020-08-04,351,9254,1304,1700,22886,804,133,328
4,2020-08-03,395,9197,1294,1539,22582,647,133,327
5,2020-08-02,436,9076,1287,1841,22505,995,133,322
6,2020-08-01,470,9043,1286,1805,22387,964,133,319

In [9]:
df[COLUMNS_REPORT].head(7)

,date,activos,positivos,muertes,sospechosos,muestra,activos sospechosos,defunciones sospechosos,muertos negativos
0,2020-08-07,30644,469407,51311,89155,1071706,41664,2441,12205
1,2020-08-06,30010,462690,50517,87973,1056915,40829,2434,12050
2,2020-08-05,28962,456100,49698,85845,1041860,39000,2388,11863
3,2020-08-04,28754,449961,48869,82460,1026294,35745,2367,11712
4,2020-08-03,28741,443813,48012,79030,1011050,32135,2317,11530
5,2020-08-02,32015,439046,47746,83119,1005498,38268,2323,11464
6,2020-08-01,32944,434193,47472,87771,999697,42754,2384,11408

In [10]:
print("Activos %i. ∆ %i. "%(df.loc[0]['activos'], df.loc[0]['∆ activos'],))
print("Positivos %i. ∆ %i. "%(df.loc[0]['positivos'], df.loc[0]['∆ positivos']))
print("Muertes %i. ∆ %i. "%(df.loc[0]['muertes'], df.loc[0]['∆ muertes']))
print("Sospechosos %i. ∆ %i. "%(df.loc[0]['sospechosos'], df.loc[0]['∆ sospechosos'],))
print("---Sospechosos---")
print("Activos %i. ∆ %i. "%(df.loc[0]['activos sospechosos'], df.loc[0]['∆ activos sospechosos'],))
print("Defunciones %i. ∆ %i. "%(df.loc[0]['defunciones sospechosos'], df.loc[0]['∆ defunciones sospechosos'],))
# print("\nDefunciones de personas que dieron negativo a la prueba de laboratorio\nTotal %i. ∆ %i. %% %.2f"%(df.loc[0]['muertos negativos'], df.loc[0]['∆ muertos negativos'],df.loc[0]['% muertos negativos'],) )

Activos 30644. ∆ 634.
Positivos 469407. ∆ 6717.
Muertes 51311. ∆ 794.
Sospechosos 89155. ∆ 1182.
---Sospechosos---
Activos 41664. ∆ 835.
Defunciones 2441. ∆ 7.